/InventorySupplySystem/dist/
/InventorySupplySystem/build/
/Ssystem/nbproject/private/
/Ssystem/build/
/Ssystem/dist/
/IMSystem/nbproject/private/
/IMSystem/dist/
/IMSystem/build/
/InventorySystem/nbproject/private/
/InventorySystem/build/
/InventorySystem/dist/
/SupplyInventory/nbproject/private/
/SupplyInventory/build/
/SupplyInventory/dist/
/InventorySupply/nbproject/private/